Repository GokulMuthu25/GitHub-To-Azure-Repo-Migration: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-result-final.yml, azure-pipelines-result.yml, azure-pipelines-results.yml, azure-pipelines-vote.yml, azure-pipelines-worker.yml

Path conditions:
  azure-pipelines-result-final.yml: any of: result
  azure-pipelines-result.yml: any of: result
  azure-pipelines-results.yml: any of: result
  azure-pipelines-vote.yml: any of: vote
  azure-pipelines-worker.yml: any of: worker

Set up CI with Azure Pipelines
  azure-pipelines-worker.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-workers.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-workerfile.yml
Due: none

Updated Dockerfile
  worker/Dockerfile
Due: azure-pipelines-worker.yml

Deleted azure-pipelines-worker.yml
  azure-pipelines-worker.yml
Due: none

Deleted azure-pipelines-workers.yml
  azure-pipelines-workers.yml
Due: none

Deleted azure-pipelines-result.yml
  azure-pipelines-result.yml
Due: none

Deleted azure-pipelines-results.yml
  azure-pipelines-results.yml
Due: none

Updated app.py
  vote/app.py
Due: azure-pipelines-vote.yml
